
#calc{
	position: relative;
	top:20px;
    margin: auto;
	width: 530px;
	height:400px;
	background-color: gray;
	border: 2px solid yellow;}


#input {
	width: 500px;
	height: 90px;
	position: relative;
	font-size: 400%;
	}

	#clear {
		width: 250px;
		height: 50px;

	}

.clearholder {
	position: relative;
	margin:auto;
	display: flex;
	justify-content: space-around;

}

#minus {
	width: 250px;
	height: 50px;
}

.inhol{
	position: relative;
	margin:auto;
	display: flex;
	justify-content: space-around;

}

.diehol {
	position: relative;
	margin:auto;
	display: flex;
	justify-content: space-around;

}

.stroka1 {
	position: relative;
	margin:auto;
	display: flex;
	justify-content: space-around;

}

.stroka2 {
	position: relative;
	margin:auto;
	display: flex;
	justify-content: space-around;

}

.stroka3 {
	position: relative;
	margin:auto;
	display: flex;
	justify-content: space-around;

}

.stroka4 {
	position: relative;
	margin:auto;
	display: flex;
	justify-content: space-around;
}

#c1 {
	width: 130px;
	height: 50px;
}

#c2 {
	width: 130px;
	height: 50px;
}


#c3 {
	width: 130px;
	height: 50px;
}

#c4 {
	width: 130px;
	height: 50px;
}

#c5 {
	width: 130px;
	height: 50px;
}

#c6 {
	width: 130px;
	height: 50px;
}

#c7 {
	width: 130px;
	height: 50px;
}

#c8 {
	width: 130px;
	height: 50px;
}

#c9 {
	width: 130px;
	height: 50px;
}

#c0 {
	width: 230px;
	height: 50px;
}

#cr {
	width: 130px;
	height: 50px;
}

#cdl {
	width: 130px;
	height: 50px;
}

#cdr {
	width: 130px;
	height: 50px;
}

#ct {
	width: 230px;
	height: 50px;
}

#pl {
	width: 130px;
	height: 50px;
}

#mi {
	width: 130px;
	height: 50px;
}

#mu {
	width: 130px;
	height: 50px;
}

#sp {
	width: 130px;
	height: 50px;
}

#c1 {
	width: 130px;
	height: 50px;
}


